@import 'variables';

body {
  background-color: #eee;
  color: #333;
  margin: 33px;
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

p, ol, ul, td {
  font-family: $font-stack;
  font-size: $font-size-base;
  line-height: $line-height-base;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

input[type=text] {
  padding: 4px;
  margin: 2px;
  border: solid 1px $gray-light;
  border-radius: 2px;
  font-size: $font-size-base;
}
